{{!-- 
<div class="container">
        
    <h1>NEWS FEED</h1>
    
      <img src=" " alt=" " id="img">
    
  <button type="submit" id='getArticleBtn'>Get Articles</button>
     
  
</div> --}}

  <div id="wrapper">
      <header>
        <div id ='title'>
          <h1>The Republic News Feed</h1> 
        </div>
        <div id = 'btn'>
          <button id ="getArticleBtn">Get Articles</button>
          <button id ='saved'>Saved Articles</button>
        </div>  
      </header>
      
      
      <h2><i> </i></h2>
      <div id="articles"></div>
      <div id="notes"></div>
</div>
 