 	<header>
		<div id='mainTitle'>
			<h1>The Republic News Feed</h1>
       <a href="/"><button id="home">Home</button></a>
		</div>
		<div>
			<img id='logo' src='../../assets/image/logo.png' width=65px> 
		</div>
	</header>

<div id="memo">
	<h1>{{memo}}</h1>
</div>