/* general */
/* @import url("reset.css"); */
header{
  max-width: 980px;
  margin: 0 auto;
  color: #E0E0E0;
  border: 2px solid #E0E0E0;  
  text-align: left;
}
#savedArtcl{
  max-width: 980px;
  margin: 0 auto;
  border-bottom: 2px solid #E0E0E0; 
  padding-bottom: 10px;
}
#title{
  margin: 10px;
}
#btn{
  margin: 10px;
}

#oneArtcl{ 
  max-width: 980px;
  margin: 0 auto;
  clear: both; 
  border-top: 2px solid #E0E0E0; 
  padding-top: 10px;
  
}
#memo{
   max-width: 980px;
   margin: 0 auto;
   color: #E0E0E0; 
}

#addNote{
  margin-left: 20px;
}
 #imgArtcl{
  width: 40%;
  float: left;
  margin-top: 10px;
} 


#infoArtcl{
  height: 150px;
  float: left;
  width: 49%;
  /* border: 2px solid blueviolet; */
 
}

#notes {
  position: absolute;
  top:45%;
  right: 39%;
}

#bodyinput, #titleinput{
   width: 400px;
}

#bodyinput{
height: 150px;
}