/* general */
/* @import url("reset.css"); */
header{
  max-width: 980px;
  margin: 0 auto;
  color: #E0E0E0;
  border: 2px solid #E0E0E0;  
  text-align: left;
}
#wrapper{
  max-width: 980px;
  margin: 0 auto;
}
#title{
  margin: 10px;
}
#btn{
  margin: 10px;
}

#oneArtcl, #memo{
  /* width: 100%; */
  max-width: 980px;
  /* height: 100%; */
  margin: 0 auto;
  clear: both; 
  border-top: 2px solid #E0E0E0; 
  
}
#memo{
   max-width: 980px;
   margin: 0 auto;
   color: #E0E0E0; 
}

#addNote{
  margin-left: 20px;
}
 #imgArtcl{
  width: 40%;
  float: left;
  margin-top: 10px;
} 


#infoArtcl{
  height: 150px;
  float: left;
  width: 49%;
  /* border: 2px solid blueviolet; */
 
}